<script
  async
  defer
  src="https://analytics.umami.is/script.js"
  data-website-id="c9c97df3-bc05-4b29-8caa-fcf03a05710f"
></script>

<link
  rel="preload"
  href="/static/Mona-Sans.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css"
/>

<style type="text/css" media="screen">
  @media (prefers-color-scheme: dark) {
    {{ partial "css/syntax-dark.css" . | safeCSS }}
    {{ partial "css/theme-vars-dark.css" . | safeCSS }}
  }
  @media (prefers-color-scheme: light) {
    {{ partial "css/syntax-light.css" . | safeCSS }}
    {{ partial "css/theme-vars-light.css" . | safeCSS }}
  }
</style>
