{{- $content := .Text -}}
{{- $type := "" -}}
{{- $title := "" -}}

{{- if eq .Type "alert" -}}
  {{- $type = .AlertType -}}
  {{- $title = .AlertTitle -}}
{{- else -}}
  {{- /* Legacy/Custom Callout parsing (Regex) */ -}}
  {{- $match := findRE `\[!([a-zA-Z]+)\]` .Text 1 -}} 
  {{- if gt (len $match) 0 -}}
    {{- $matchStr := index $match 0 -}}
    {{- $type = lower (replace (replace $matchStr "[!" "") "]" "") -}}
    {{- $title = $type | humanize -}}
    {{- /* Remove the [!TYPE] tag from the content. */ -}}
    {{- $content = replace .Text $matchStr "" -}}
  {{- end -}}
{{- end -}}

<blockquote class="callout markdown-alert {{ with $type }}callout-{{ . }} markdown-alert-{{ . }}{{ end }}">

  {{- if $type -}}

  <div class="callout-title markdown-alert-title">{{ $title }}</div>

  {{- end -}}

  <div class="callout-content">{{ $content | safeHTML }}</div>

</blockquote>
