<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <p>
        <a class="sidebar-nav-icons" href="{{ site.custom_pages.feed }}" target="blank"><img src="{{ site.baseurl }}/public/rss_icon_32x32.png" alt="RSS feed" width="16" height="16"></a>
        <a class="sidebar-nav-icons" href="https://feedly.com/i/subscription/feed/{{ site.url }}{{ site.custom_pages.feed }}" target="blank"><img id="feedlyFollow" src="{{ site.baseurl }}/public/feedly_icon_37x32.png" alt="Follow me in feedly" width="19" height="16"></a>
        <a class="sidebar-nav-icons" href="https://github.com/fredrikaverpil" target="blank"><img src="{{ site.baseurl }}/public/GitHub-Mark-Light-32px.png" alt="Github" width="16" height="16"></a>
        <a class="sidebar-nav-icons" href="https://twitter.com/fredrikaverpil" target="blank"><img src="{{ site.baseurl }}/public/twitter-32.png" alt="Twitter" width="16" height="16"></a>
      </p>

    </nav>

    <p><small>&copy; 2012-{{ site.time | date: "%Y" }} All rights reserved.</small></p>
  </div>
</div>
